<!DOCTYPE html>
<html>
  <head>
    <title>Habit Rabbit | Log in</title>
    <base href="/app/">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', host: '/' %>
    <%= javascript_include_tag 'application', host: '/' %>
  </head>

  <body>
    <h1>Habit Rabbit</h1>
    <%= yield %>
  </body>
</html>
